### CMake ###
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake

### Build Directory ###
bin/

#Executable (Linux)
cy_parser

#Other
.vscode/
Games/
out/
br
brr
*.zip

#Test files
sample/
sample_out/
sample_out_backup/
sample_ext/
test_out/

single/
single_out/

.vs 
Release/
Debug/
*.sln 
*.user
*.filters
*.vcxproj

